/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/*Opdracht 1,1*/

/**   {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*Opdracht 1,2*/

.two    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Opdracht 1,3*/

.three  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    justify-content: space-between;
}

/*Opdracht 1,4*/

form    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Opdracht 1,5*/

.five {
    display: flex;
    flex-flow: row wrap;
}

article{
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 360px;
}